.itemMusicList {
    width: 100%;
    height: 32.5rem;
    background-color: #fff;
    padding: 0 0.2rem;
    margin-top: 0.2rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    .itemListTop {
      width: 100%;
      height: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .listLeft {
        width: 3rem;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .playAll {
          font-weight: 700;
        }
        .all {
            font-size: 0.2rem;
            color: rgb(49 47 45 / 58%);
          }
      }
      .listRight {
        height: 70%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 0.2rem;
        border-radius: 3rem;
        background-color: red;
        color: #fff;
        font-size: 0.28rem;
        .icon {
          height: 0.36rem;
          width: 0.36rem;
        }
    }
}
.itemList {
  .item {
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .itemLeft {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .leftSpan {
        padding: 0.2rem;
      }
      p {
        font-weight: 700;
      }
      span {
        color: rgb(49 47 45 / 58%);
      }
    }
  }
}
}
